.event,
.addableLink,
.addableFile,
.galleryImage {
	border: none;
	-moz-box-shadow: 1px 1px 8px #ccc;
	-webkit-box-shadow: 1px 1px 8px #ccc;
	box-shadow: 1px 1px 8px #ccc;
	background:#fff;
	padding: 12px;
	margin: 0 .5em 2em .5em;
	margin-bottom: 2em;
}

.event,
.galleryImage {
		width: 270px !important;
}

.addableFile .controls{
	display: block;
	opacity: 1;
	right: .25em;
	top: 0;
}

.addableLink .ui-Text,
.addableLink .ui-Text .ipe,
.addableLink .ui-Text input,
.addableLink .ui-CheckBox {
	display: inline-block;
	vertical-align: top;
}

.addableLink .ui-Text {
	width: 380px !important;
}
.addableLink .ui-Text label {
	width: 36px;
	float: left;
	margin: 0 .25em 0 0;
	padding: 0;
}

.addableLink .ui-Text textarea:not(.away) {
	padding: .125em;
	line-height: 1;
}

.addableLink .ui-Text .ipe {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 275px;
	margin-bottom: 0;
}


.addableLink .link>label,
.addableFile .ui-FileElement label,
.galleryImage .ui-FileElement label{
	display: none;
}

.Resources .addableLink,
.Resources .addableFile {
	width: 100%;
	clear: both;
}
