/* grid 960 */
@import url('reset.css');
@import url('960.css');
@import url('text.css'); 

.upcoming{
	margin-top:4em;
}
/* HTML5 Boilerplate  */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #333333; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #eee; color: #000; text-shadow: none; }
::selection { background: #eee; color: #000; text-shadow: none; }

a { color: #000; text-decoration:none; }
a:visited { color: #000; }
a:hover { text-decoration:underline; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

.header { 
	margin:6em 0 2em 0;
}

h1#logo{
	width: 451px;
	height: 46px;
	float: left;
}

h1#logo a{ 
	text-decoration: none;
	display:block;
	width: 100%;
	height: 100%;
}

ul#nav{
	margin-top:1.375em;
	height: 2.25em;
}

ul#nav>li a{ 
  margin-right:2em; 
  font-style: normal;
  font-weight: 300;
  text-decoration:none;
  padding-bottom: .75em;
}


ul#nav a.active,
ul#nav a:hover {
	border-bottom:1px solid black;
}

ul#nav .subnav a.active,
ul#nav .subnav a:hover {
	border-bottom:1px solid #dedede;
}

ul#nav .subnav ul.worksAvailableArtists a{
	color:#999;
}

ul#nav li {
	height: 2.5em;
	display:inline-block;
}

ul#nav li .subnav{ 
	display: none;
	position: absolute;
	top: 1.25em;
	left: -1em;
	background: #fff;
	padding: .5em;
	z-index:7;
 }

ul#nav .subnav ul ul{
	float: left;
	width: 160px;
	margin-right: 1em;
}

.preview,
.artistsPreview{
	visibility: hidden;
	background:#fff;
	padding: 10px;
	float: left;
	width: 250px;
	-moz-box-shadow: 1px 1px 3px #dedede;
	-webkit-box-shadow: 1px 1px 3px #dedede;
	box-shadow: 1px 1px 3px #dedede;
}

.newsItem{
	border-bottom: 1px #aaa solid;
	margin-bottom: 2.5em;
}

.newsItem div.img{
	overflow: hidden;
	margin-bottom: .5em;
}

.newsItem.large div.img{
	height: 344px;
}

.newsItem.medium div.img{
	height: 256px;
}

.artistsPreview{
	position: absolute;
	left: -290px;
}

ul#nav .subnav li,
ul#nav li:hover .subnav{ display: block; }

#main p {
	margin-left:0;
}

#representedArtists a{
	font-style: normal;
	font-weight: 300;
	line-height:24px;
   }

#worksAvailArtists{
  padding-top:37px;
}

#worksAvailArtists a{
	display: block;
  clear:both;
	color:#999;
	line-height:24px;
  font-style: normal;
  font-weight: 300;
}

.thumb{
  padding:0px 0px 3em 0;
}

/*#wrapper{
  padding-bottom:8em;
}
*/
/*#cvListing{
  margin-bottom:12em;
}*/

.workHeader{
	width:560px;
  float:left;
}

#exHeadline{
	font-style: normal;
	font-weight: 100;
}

h3.title{
	margin: 1em 0 0 0;
}

.contacts ul li{
	font-weight: 300;
	border-bottom: 1px #ededed solid;
	padding-bottom: .5em;
	margin-bottom: 1.5em;
}

h3.headline{
	font-size: 24px;
	font-weight: 100;
}

h4.date{
	margin-top: 0;
}

p.intro{
	letter-spacing: 1px;
	margin-top:0;
	font-size:24px; 
	line-height:1.25;
  font-style: normal;
	font-weight: 100;
}

p.work_meta	{
	clear: both; 
	margin-top: 0 !important;
}

.pdflink{
	clear: both;
	background: url( ../images/icon_pdf.gif ) no-repeat;
	padding: 0 0 0 2em;
	margin: .45em 0 0 -.75em;
}

.workImage{ clear: both; display: block; }
#footer { margin: 3em 0 0 0; width: 100%; padding-top:1em; background: #fff; }
#footer ul { margin:0; padding:0; list-style:none;}
#footer ul li { margin:0; padding:0;}


/* -- slideshow ------------------------------------------- */

div.slideshow .pane{
  overflow: hidden;   
}

div.slideshow{
	height: 360px;    
	position:relative;
	margin: 0 0 2em 0 !important;
}

div.slideshow div.images{
	position:relative;
	bottom:0;
	white-space: nowrap;
	padding: 0 12em 0 .75em;
}

div.slideshow .galleryImage{
   display: inline-block;
   margin: 0 0 0 .5em;
}

.workMetaData{width:100%;font-size:12px; margin-top:7px; line-height:24px;}

h3.page-title,
h2.page-title{
	margin-right: 3em;
}

h3.page-title{
	margin: .675em 3em 0 0;
	font-weight: 100;
	font-size: 15px;
}

.mediaInfo{color: #B0B2B5;
}

div.slideshow .galleryImage:first-child{
    margin: 0 0 0 0;
}


#workPane{
	position: relative;
}

div.slideshowPrev,
div.slideshowNext{
	width:32px;
	height: 64px;
	z-index: 10000;
	position:absolute;
}

#workPane div.slideshowPrev,
#workPane div.slideshowNext{
	top: 40%;
}

#gallery div.slideshowPrev,
#gallery div.slideshowNext{
	height: 100%;
}

div.slideshowPrev {
    left:0; 
    background: url(../images/previous_image.png) center center no-repeat;
}
div.slideshowNext {
    right:0;
	  background: url(../images/next_image.png) center center no-repeat;
}

.page-title{
	position:relative;
}

.backarrow{
	position: absolute;
	left: -2em;
	line-height: 2;
}


div.slideshowPrev a,
div.slideshowNext a {
    display:block;
    height: 100%;
    text-indent:-4000px;
}

div.slideshowPrev a:focus, 
div.slideshowNext a:focus{
    outline: none;
}

#map{
	margin-bottom:2em;
}

/* -- end slideshow ------------------------------------------- */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}

h2.homeTitle{
	margin-bottom: .25em;
}

h3{
	margin-bottom: .5em !important;
}

#exhibition .blurb{
	font-weight: 700;
}

#exhibition{
	margin-top: 1em;
}

#exhibition h2{
	margin: 0 0 .5em 0;
}

li.exhibition{
	border-bottom:1px #dedede solid;
	margin-top: 1em;
	margin-bottom: 1em;
}

#exhibitions{ margin-bottom: 3em; }

#olderExhibitions h4.dates,
li.exhibition h4.dates{
	font-weight: 100;
}

#exhibition h3.dates{
	font-weight: 300;
}

#olderExhibitions h3.headline,
#olderExhibitions h4.dates,
#olderExhibitions p.blurb,
li.exhibition p.blurb{
	font-size: 12px;
}


.shareLinks{
	margin: 0 0 0 0;
}

.pressitem{
	margin-bottom: 4em;
}